<div class="container">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputUserName" class="sr-only">UserName</label>
    <input type="text" id="inputUserName" class="form-control" placeholder="UserName" 
      required autofocus 
      [(ngModel)]="model.userName" name="userName"
      #userName="ngModel">
    <div [hidden]="userName.valid || userName.pristine"
          class="alert alert-danger">
          UserName is required
    </div>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password"
      required
      [(ngModel)]="model.psw" name="password"
      #password="ngModel">
    <div [hidden]="password.valid || password.pristine"
        class="alert alert-danger">
        password is required
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.form.valid">Sign in</button>
    <div [hidden]="failedMsg == null"
        class="alert alert-danger">
        {{failedMsg}}
    </div>
  </form>

</div>